  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');


  :root {
      --color-body: #5b88f6;
      --color-heading: #4B88F6;
      --color-base: hsl(0, 0%, 100%);
      --color-base2: #365ea9;
      --color-base3: #253f71;
      --color-base4: #4475cf;
      --first-eye: hsl(219, 99%, 50%);
      --color-brand: #fdfdfe;
      --color-brand2: #000000;
      --color-text1: #000000;
      --color-text2: #fdfdfe;
      --sidbar-width: 240px;
      --font-base: 'IBM Plex Mono', monospace;
  }

  html,
  body {
      margin: 0px;
      height: 100%;
  }

  body {
      background-color: var(--color-base);
      color: var(--color-body);
      font-family: var(--font-base);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      color: var(--color-text1);
      font-weight: 700;
  }

  .articleTitle {
      color: var(--first-eye);
      font-weight: 900;
  }

  .articleSubTitle {
      color: var(--color-base3);
      font-weight: 600;
  }

  .articleTags {
      font-weight: 600;
  }

  p {
      color: var(--color-text1);
      font-weight: 500;
  }

  #footer-p {
      color: var(--color-text2);
  }

  a {
      text-decoration: none;
      color: var(--color-text1);
      transition: all 0.4s ease;
  }

  a:hover {
      color: var(--first-eye);
  }

  .text-brand {
      color: var(--color-brand2);
  }

  .bg-base {
      background-color: var(--color-base2);
  }

  .shadow-effect {
      transition: all 0.5s;
  }

  .shadow-effect:hover {

      box-shadow: -6px 6px 0 0 var(--color-brand);
  }

  #persona1 {
      width: auto;
      height: 200px;
      filter: sepia(2%);
      filter: brightness(95%);
      filter: saturate(90%);
  }

  #description {
      color: var(--color-brand);
  }

  #home {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      max-height: 80vh;

  }

  .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
  }

  @media(min-width: 991px) {
      .header-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: relative;
          right: -5%;
      }
  }

  @media (max-width: 768px) and (orientation: landscape) {
      .header-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: relative;
          right: -5%;
          margin-bottom: 10px;
      }

      .main-header {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
      }

      .home-buttons {
          display: flex;
          justify-content: space-evenly;
          margin-top: 20px;
      }

  }


  .main-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

  }

  .home-buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
  }

  /* NAVBAR */

  .navbar {
      background-color: var(--color-base2);
      transition: transform 0.3s ease;
      /* height: 100%; */
  }

  .navbar.hidden {
      transform: translateY(-100%);
  }

  .navbar .nav-link {
      font-weight: 700;
      text-transform: uppercase;
      color: white;
  }

  @media (max-width: 991px) {
      .navbar .nav-link {
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          margin-left: 43%;
      }
  }

  @media (max-width: 991px) and (orientation: landscape) {
      .main-header {
          padding-top: 50px;
          display: flex;
          padding-bottom: 5px;
          height: auto;
      }
  }

  .navbar .nav-link:hover {
      color: var(--color-base);

  }

  .navbar .nav-link.active {
      color: var(--color-brand);
      background-color: var(--first-eye);
  }

  .full-height {
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 80px;
      padding-bottom: 80px;
  }

  .navbar .nab-link .active {
      color: var(--color-brand)
  }

  .about-anchor {
      text-decoration: underline;
  }

  .about-anchor:hover {
      text-shadow: 5px 5px 6px var(--color-base);
      color: var(--color-heading);
  }

  @media(min-width: 992px) {
      .navbar {
          height: 100%;
          min-height: 10vh;
          width: var(--sidbar-width);
          background: linear-gradient(hsl(232, 40%, 16%),
                  hsl(219, 60%, 30%));
          background-size: cover;
          background-position: center;
      }

      .navbar-brand img {
          border: 6px solid var(--color-brand2);
      }

      /* Content Wrapper */
      #content-wrapper {
          padding-left: var(--sidbar-width);
      }

      #left-menu {
          position: relative;
          top: -90px;
      }

  }





  /* Button */

  .btn {
      padding: 12px 28px;
      font-weight: 700;
  }

  .btn-brand {
      background-color: var(--color-brand2);
      color: var(--color-brand);
      border-color: var(--color-brand2);
  }

  .btn-brand:hover,
  .btn-brand:focus {
      background-color: var(--first-eye);
      color: var(--color-base);
      border-color: var(--color-brand);
  }

  .custom-link {
      font-weight: 700;
      position: relative;
  }

  .custom-link:hover {
      background-color: var(--color-brand);
      border-radius: 4px;
      padding: 2px;
  }

  .custom-link::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: var(--color-brand2);
      position: absolute;
      left: 0;
      top: 100%;
      transition: all 0.4s;
  }

  .custom-link:hover:after {
      width: 100%;
  }

  .service {
      border-radius: 12px;
  }

  .iconbox {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      background-color: var(--color-brand2);
  }


  /* Card */

  .custom-card .custom-card-image {
      overflow: hidden;
  }

  .custom-card .custom-card-image img {
      height: auto;
      width: 100%;
      transition: all 0.4s ease;
  }

  .custom-card:hover .custom-card-image img {
      transform: scale(1.1);
  }

  .blog-container {
      height: 525px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      z-index: 0;
  }

  .blog-card {
      position: relative;
      height: 100%;
      min-width: 450px;
      border-radius: 3%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      transition: transform 0.3s;
      overflow: hidden;
  }

  .blog-card:hover {
      position: relative;
      opacity: 1;
      z-index: 3;
      overflow-y: hidden;
      overflow-x: hidden;
  }



  @media (max-width: 992px) {
      .blog-card:hover img {
          transform: scale(1.05);
          border: 3px solid #ffd699;
      }
  }

  .blog-card img {
      position: relative;
      max-width: 100%;
      max-height: auto;
      object-fit: cover;
      border-radius: 5%;
      transition: opacity 0.3s;
      opacity: 0.95;
  }

  .blog-card:hover img {
      transform: scale(1.05);
      border: 3px solid #ffd699;
      opacity: 1;
  }

  .blog-container:hover .blog-card:not(:hover) {
      opacity: 0.8;
  }


  /* Contact */
  #contact .form-control {
      background-color: var(--color-base2);
      border-color: var(--color-base);
      color: var(--color-brand);
  }

  #contact .form-control:focus {
      border-color: var(--color-heading);
      box-shadow: none;
  }

  #contact .form-control::placeholder {
      color: var(--color-brand);
  }

  #contact input.form-control {
      height: 44px;
  }

  /* Social Icons */
  #footer-auth {
      text-indent: .5em;
  }


  .social-icons a {
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-base2);
      border-radius: 100px;
      font-size: 25px;
  }

  #myBtn {
      display: none;
      position: fixed;
      bottom: 97px;
      right: 20px;
      z-index: 99;
      border: none;
      outline: #365ea9;
      background-color: hsl(233, 70%, 19%, 0.05);
      color: var(--color-heading);
      cursor: pointer;
      padding: .5px;
      border-radius: 30px;
      font-size: 30px;
      font-weight: 900;
  }

  #myBtn:hover {
      background-color: var(--color-text1);
  }

  #myBtn:hover .vertical-text {
      color: var(--color-brand);
  }

  .vertical-text {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      position: relative;
      right: 4px;
  }


  #first-eye {
      color: var(--first-eye);
  }

  @media(max-width: 992px) {
      .embed-cert {
          display: none;
      }

      #henry-cert-link {
          pointer-events: none;
      }
  }


  #footer {
      background-color: var(--color-brand2);
  }

  #footer p#footer-auth {
      margin-bottom: 0;
      color: var(--color-brand);
      font-size: 16px;
  }

  #socials-footer {
      text-align: right;
      margin-right: 10px;
  }

  .social-icons-footer a {
      margin-left: 15px;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-base2);
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s ease;
  }

  .social-icons-footer a:hover {
      background-color: var(--color-heading);
  }

  .social-icons-footer i {
      position: relative;
      left: 3.3px;
      top: .8px;
  }

  @media(max-width: 992px) {
      #footer {
          display: flex;
          align-items: center;
      }

      .social-icons-footer a {
          margin-left: 5px;
      }
  }

  .list-group-item.list-group-item-action:hover{
    border-width: 3px;
    border-color: var(--first-eye);
  }

  #blog{
    position: relative;
    top: -277px;
  }

  .accordion-button {
    font-weight: 800;
  }